footer{
    padding:0;
    margin-top: 100px;
    box-sizing: border-box;
    background-color: black;
}
.footer_container{
    width: 100%;
    padding: 70px 30px 20px;
}
.socialicons{
    display: flex;
    justify-content: center;
}
.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color:white;
    margin: 10px;
    border-radius:50% ;
}
.socialicons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
/* HOVER CODING START HERE*/
.socialicons a:hover{
    background-color: #111;
    transition: 0.6s;
}
.socialicons a:hover i{
    color:white;
    transition: 0.6s;
}
.footernav{
    margin: 30px 0;
}
.footernav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footernav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footernav ul li a:hover{
    opacity: 1;
}
.footerbottom{
    background-color: rgba(165, 42, 42, 0.313);
    padding: 20px;
    text-align: center;
}
.footerbottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400px;
    margin: 0px 5px;
}